.App {
  text-align: center;
}

.navbar {
    background-color: #D67BFF;
    color: white;
    padding: 10px;
    
  }
  
  h3 {
    margin: 0;
    font-size: 24px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  h1{
    color: #45FFCA;
  }

  .footer {
    background-color: #FFFB73;
    color: #3D30A2;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
.footer a {
  color: #3D30A2;
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  text-decoration: underline;
}
